@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">欢迎您！（提示：登录后需要手动单击主窗口的“标题框架”回到“语音对话机器人”窗口！！！）...</h1>
    <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
