@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed（通常是您将收到一个电子邮件，恭候您确认您注册的账号）: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account（在此简化成为单击这里确认您注册的账号！请务必单击确认！）</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

